@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');



body {
    margin: 0;
    font-family: 'Fira Code', monospace;
    background-color: white;
    display: flex;
    justify-content: center;
   
    
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.order_ {
    text-align: center;
    color: black ;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px solid white;
    background-color: white;

}

footer > span > a {
    text-decoration: none;
    color: tomato;
    letter-spacing: 1px;
    margin-top: 1px;

}

.button-checkout {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem ;
}